*.txt
*.zip
code/.ipynb_checkpoints/*
code/models--Dragonoverlord3000--JustSumAI/*
code/models/*
*__pycache__*
code/model/__pycache__
code/data_generation/7_sec_data/.DS_Store
code/data_generation/.DS_Store
code/.DS_Store
.DS_Store
code/validation/zhang_shasha
